{%extends 'base.html'%}

{% block content %}

    <div class="container">
        <h1>Lista de Alunos</h1>
        <a href="{% url 'aluno-create' %}"><button class="btn btn-primary mb-3">Adicionar aluno</button></a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Aluno</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in alunos_list %}
                    <tr>
                        <td><a href="/alunoID/{{aluno.id}}">{{aluno.nome}}</a></td>
                        <td>{{ aluno.email }}</td>
                        <td>{{ aluno.telefone }}</td>
                        <td><a href="/aluno/{{ aluno.id }}/update/"><span><i class="fas fa-edit"></i></span></a></td>
                        <td><a href="/aluno/{{ aluno.id }}/delete/"><span><i class="fas fa-trash"></i></span</a></td>
                    </tr>
            {% empty %}
                <tr>
                    <td colspan="4">nenhum aluno encontrado.</td>
                </tr>
            {% endfor %}
            </tbody>
            
        </table>
    </div>
{% endblock %}